:root {
  --blue-dark: #3777c2;
  --orange: #ffa665;
  --blue: #72a5e0;
  --blue-light1: #b7d8ff;
  --blue-light2: #d3e7ff;
  --blue-light3: #f6fcff;
  --black: #383838;
  --gray-dark: #676767;
  --gray: #929292;
  --white: #ffffff;

  --header-height: 7vw;
}

/* ------- General ------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  vertical-align: baseline;
  color: inherit;
  box-sizing: border-box;
  cursor: default;
}

*:hover {
  transition: all 0.5s;
}

html {
  font-size: 16px;
  background-color: var(--blue-light3);
}

a {
  text-decoration: none;
}

input,
textarea {
  outline: none;
  color: var(--black);
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray);
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
}

.body {
  display: grid;
  grid-template-rows: auto 3rem;
  height: 100vh;
}

.button {
  color: var(--white);
  font-weight: 600;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
}

a,
.button,
.logo,
.submit-tweet {
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-dark);
}

/* ------- Header ------- */

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  width: 100vw;
}

.cloud {
  width: calc(var(--header-height) * 4);
  height: calc(var(--header-height) * 2);
  background: no-repeat url("assets/cloud.svg");
  background-size: contain;
  left: 0;
  top: 0;
}

.logo {
  margin: 2rem 4rem;
  position: absolute;
  background: no-repeat url("assets/logo.svg");
  background-size: contain;
  width: calc(var(--header-height) * 2);
  height: var(--header-height);
}

.log-out {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--blue-dark);
  margin-right: 2rem;
}

/* ------- Sidebar ------- */

.main {
  display: grid;
  grid-template-columns: 20vw auto;
}

.aside {
  background-color: var(--white);
  padding: calc(var(--header-height) * 2) 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aside-name {
  color: var(--blue-dark);
  font-weight: 600;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.filters input, .tweet-input{
  width: 100%;
  padding: 0.3rem 0.7rem;
  border: 1px solid var(--blue-light1);
  border-radius: 0.7rem;
}

.reset {
  background-color: var(--blue-light1);
}

.date-filters,
.hashtags,
.form-actions {
  display: flex;
  gap: 0.5rem;
}

.add-hashtag {
  background-color: transparent;
  color: var(--blue-light1);
  font-size: 1.2rem;
}

.form-actions {
  margin-top: 0.5rem;
  justify-content: center;
}

/* ------- Main ------- */

.board {
  padding: var(--header-height) 4rem 2rem;
}

.add-tweet {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-name {
  color: var(--blue-dark);
}

.whats-new {
  font-size: 1.2rem;
}

.bullet {
  margin: 0 0.5rem;
}

.max-lenght {
  color: var(--gray);
}

.tweet-form {
  display: flex;
  gap: 1rem;
}

.tweet-input {
  width: 100%;
}

.submit-tweet {
  background-color: transparent;
  font-size: 3rem;
  height: fit-content;
  align-self: end;
  color: var(--blue);
}

.submit-tweet:hover {
  color: var(--blue-dark);
}

/* ------- Footer ------- */

.footer {
  background-color: var(--blue-light2);
  color: var(--blue-dark);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-name {
  font-weight: 600;
}

.contacts {
  display: flex;
  gap: 1rem;
}

.email:hover {
  color: var(--gray-dark);
}
